@{
    ViewBag.Title = "Healthcare";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer euismod felis in metus fringilla, non commodo ligula venenatis. <br \> Maecenas viverra ultrices urna, sit amet interdum dui varius non. Sed imperdiet libero pulvinar massa ultricies, id sodales metus eleifend. Donec ac condimentum odio. Proin non tristique magna. <br \> Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Quisque sagittis tristique sem non posuere. Vestibulum libero sapien, commodo cursus magna in, hendrerit rutrum erat.</p>
<p>Maecenas viverra ultrices urna, sit amet interdum dui varius non. Sed imperdiet libero pulvinar massa ultricies, id sodales metus eleifend. Donec ac condimentum odio. Proin non tristique magna. <br \> Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Quisque sagittis tristique sem non posuere. Vestibulum libero sapien, commodo cursus magna in, hendrerit rutrum erat. <br \> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer euismod felis in metus fringilla, non commodo ligula venenatis. </p>
<p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Quisque sagittis tristique sem non posuere. Vestibulum libero sapien, commodo cursus magna in, hendrerit rutrum erat. <br \> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer euismod felis in metus fringilla, non commodo ligula venenatis. <br \> Maecenas viverra ultrices urna, sit amet interdum dui varius non. Sed imperdiet libero pulvinar massa ultricies, id sodales metus eleifend. Donec ac condimentum odio. Proin non tristique magna.</p>

